html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  display: inline-block;
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: white;
  text-decoration: none;
}

/* header */
body {
  background-color: black;
  font-family: 'Gotham', sans-serif;
}
.mainblock{
    padding:40px;
    margin:20px;
    background-image:url("../landingtest/image/ima.jpg");
}
header {
  margin: 20px 0;
}

header .container {
  position: relative;
}

.hamburger-menu {
  position: absolute;
  right: 15px;
  display: none;
}

.hamburger-menu span {
  display: block;
  background-color: white;
  width: 30px;
  height: 3px;
  transition: 0.3s;
}

.hamburger-menu span:nth-of-type(1) {
  margin-bottom: 7px;
}

.hamburger-menu span:nth-of-type(2) {
  opacity: 1;
}

.hamburger-menu span:nth-of-type(3) {
  margin-top: 7px;
}

.hamburger-menu.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(6px, 8px);
}

.hamburger-menu.active span:nth-of-type(2) {
  transform: translateX(8px);
  opacity: 0;
}

.hamburger-menu.active span:nth-of-type(3) {
  transform: rotate(-45deg) translate(6px, -8px);
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  header.mobile-nav nav {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }
}

h1 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
li {
  margin: 0 0 0 20px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
li:nth-of-type(1) {
  margin: 0;
}
.fa {
  margin: 0 10px 0 0;
}
.login {
  border: 1px solid white;
  padding: 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-size: 60px;
  color: white;
  line-height: 1.2;
  font-weight: 600;
}
span {
  color: white;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 2.5;
}
h3 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn {
  width: 100%;
  background-color: #dc5c4f;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart {
  padding: 20px;
  background-color: #f5f5f5;
}
.form-group {
  margin-bottom: 10px;
}
.quote-title {
  padding: 20px 0;
  background-color: #153439;
  text-align: center;
}
.cartblock {
  border-radius: 10px;
}
.quote {
  margin: 5% 0;
}
input {
  outline: none;
  border: 1px solid black;
}
::placeholder {
  font-size: 12px;
  color: #2c323d;
  font-weight: 600;
}
.form-control:focus {
  box-shadow: none;
  /* border:none; */
  outline: none;
}
.quotecontent {
  padding: 150px 0 0 0;
}
.containerd {
  display: none;
}
@media only screen and (max-width: 900px) {
  #menulink li {
    display: block;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .login {
    border: none;
    padding: 0;
  }
  #menulink {
    background-color: #153439;
    position: absolute;
    right: 0;
    top: 65px;
    width: 100%;
    text-align: left;
    padding: 20px;
  }
  .containerd {
    display: block;
  }
  .quotecontent {
    padding: 30px 0;
    text-align: center;
  }
  .form-control{
      padding:20px;
  }
  ::placeholder{
      font-size:20px;
  }
  .btn{
      padding:20px;
      font-size:20px;
  }
  h3{
      font-size:34px;
  }
}
@media only screen and (max-width: 700px) {
  h2 {
    font-size: 30px;
  }
  span {
    line-height: 1.5;
    font-size: 18px;
  }
}